@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input, #plataforma_social {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(128, 215, 247);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #00AEEF
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

td{
  cursor: pointer
}

.header-row {
    background-color: #f0f0f0;
    font-weight: bold;
}

.table-hover tr:not(.header-row):hover {
    background-color: #e0e0e0;
}

.ticket-item{
    font-size: 1.0625rem;
    letter-spacing: .05em;
    line-height: 1.8em;
    word-break: break-word;
    margin-bottom: -1%;
}

#back-button{
  margin-top: 0.5%;
}

#spam_num_count {
    background-color: #FBC21C !important;
    display: inline-block;
    padding: 0.05em 0.2em;
    font-size: 65%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
}

.loadig_window {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 80%;
}

#loading_button{
  display: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.pagination {
    display: inline-block;
    margin-top: 20px;
}

.page-link {
    cursor: pointer;
}

.item-list {
    list-style: none;
    padding: 0;
}

.item-list li {
    margin: 5px 0;
}

.list-group{
  border-top: none;
}

.render_data{
  display: none;
}

#prevPage {
  margin-right: 10px;
}

#nextPage {
  margin-left: 10px;
}

.info_data, .info_headers {
    margin: 0px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 100;
    font-size: large;
    line-height: 1.5;
    letter-spacing: 0.15px;
    font-family: 'Roboto';
}

.info_data {
  margin-left: 16px;
  color: rgb(117, 117, 117);
  font-weight: 600;
  font-size: medium;
}

.info_row, .info_row_footer {
  display: flex;
  flex-wrap: wrap;
  gap: 2px; 
  color: rgb(117, 117, 117);
}

.info_row_footer{
  font-size: smaller;
  margin-top: 1%;
  text-align-last: right;
}

.ticket_created,
.ticket_mail,
.ticket_group,
.ticket_analyst,
.ticket_state,
.ticket_sla {
  width: 45%;
  margin-right: 2px;
}

.ticket_sla{
  text-align: right;
  margin-left: 18.5%;
  position: absolute;
}

.ticket_opened,
.ticket_finished,
.ticket_reopened,
.ticket_waiting,
.ticket_ongoing {
    border: solid 1px #dff1da;
    font-size: 11px;
    font-weight: 900;
    line-height: 1.27;
    height: 20px;
    display: flex;
    padding: 13px 14px;
    align-items: center;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: auto;
}

.ticket_finished {
  color:#9e9e9e;
  background-color: #e0e0e0;
}
.ticket_opened {
  color:#60bb46;
  background-color: #e3fee7;
}

.ticket_ongoing {
  color:#f7a723;
  background-color: rgba(247,167,35, .2);
}

.ticket_waiting {
  color:#00aeef;
  background-color: rgba(0, 174, 239, .2);
}

.ticket_reopened {
  color:#60bb46;
  background-color: #e3fee7;
}

.ticket_subject{
  font-weight: 900;
  font-family: Tahoma, sans-serif;
}

.ticket_number{
    color: #9E9E9E;
    height: 24px;
    font-size: 18px;
    font-weight: 900;
    vertical-align: bottom;
}

.progress{
  width: 12.5%
}

.progressBar_details{
  display: none;
  text-align: -webkit-center;
}

#nav-tab{
  width: auto;
}

#newticket_button{
  margin-left: auto;
  width: 100px;
  height: 30px;
  align-self: center;
  font: revert;
  margin-right: 1%;
}

.first_container_datas {
  display: flex;
  flex-direction: column;
}

.first_container_datas .form-control, #textArea_content {
  margin-bottom: 10px;
}

#textArea_content{
  margin-top: 10px;
  width: 100%;
  height: 200px;
}

.second_container_datas {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 20px;
}

#add_new_comment{
  float: right;
  margin-top: 2%;
}

#tickets_details_container{
  margin-top: 2%;
}

.navbar {
    background-color: #00AEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-item {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-item li {
    font-size: 11px;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.5s, color 0.3s;
}


.nav-item li:last-child {
    margin-right: 0;
}

.nav-item li.active, .nav-item li:hover {
    background-color: #006699;
    color: white;
}

#radio_strip_channels{
  margin-bottom: 10px;
}

.nav-item > .disabled_content,  .disabled_content:hover{
  cursor: not-allowed;
  background-color: lightsteelblue;
  color: white;
}
