<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Ticket</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <script src="../static/details_scripts.js" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <a href="javascript:history.back()" class="btn btn-outline-info" id="back-button"></a>
  <div class="alert alert-light" role="alert">
    <div class="info_headers">
      <p><span class="ticket_subject">{{ ticket_details.subject }}</span><span class="ticket_number"> #{{ ticket_details.number }}</span></p>
      <div class="info_data">
        <div class="info_row">
        <div class="ticket_created"><i class="fa-solid fa-address-card"></i></div>
        <div class="ticket_mail"><i class="fa-regular fa-envelope"></i></div>
        </div>
        <div class="info_row">
        <div class="ticket_group"><i class="fa-solid fa-layer-group"></i> Grupo: {{ ticket_details.group.name }}</div>
        <div class="ticket_analyst"><i class="fa-solid fa-building-user"></i> Responsável: {{ ticket_details.responsible.name }}</div>
        </div>
        <div class="info_row_footer">
          {% if ticket_details.state.name == 'Finalizado' %}
        <div class="ticket_finished">{{ ticket_details.state.name }}</div>
          {% elif ticket_details.state.name == 'Aberto' %}
        <div class="ticket_opened">{{ ticket_details.state.name }}</div>
          {% elif ticket_details.state.name == 'Em andamento' %}
        <div class="ticket_ongoing">{{ ticket_details.state.name }}</div>
          {% elif ticket_details.state.name == 'Aguardando resposta' %}
        <div class="ticket_waiting">{{ ticket_details.state.name }}</div>
          {% elif ticket_details.state.name == 'Reaberto' %}
        <div class="ticket_reopened">{{ ticket_details.state.name }}</div>
          {% endif %}
        <div class="ticket_sla"><i class="fa-solid fa-clock-rotate-left"></i> Prazo: {{ ticket_details.deadline }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <strong>Detalhes <span class="position-absolute top-0 start-25 translate-middle badge rounded-pill bg-danger" id="total_interactions"></span> </strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="alert alert-info">
        <p class="description">{{ ticket_details.description | safe }}</p>
        </div>
        {% for comment in comments %}
            <div class="alert alert-primary">
        <p class="description">{{ comment.content | safe }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    var ticketsDetails_data =  {{ ticket_details | tojson | safe }};
    var commentsData = {{ comments | tojson | safe }};
    var emailsTransitData = {{ emailsData | tojson | safe }};
  </script>
</body>
</html>
